/* ------------------------------------------------------------------------------------------------------------------------------
ABONEMENT BLOCK
--------------------------------------------------------------------------------------------------------------------------------*/
.abonement {
	padding-top: rem(95);
	padding-bottom: rem(80);

	@include lg {
		padding-top: rem(65);
		padding-bottom: rem(80);
	}

	@include sm {
		padding-top: rem(45);
		padding-bottom: rem(80);
	}

	.keen-slider{
		overflow:initial;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			transform: translateX(-100%);
			height: 100%;
			width: 120vh;
			background: var(--white);
			z-index: 2;
		}
	}

	&-block {
		&_title {
			font-family: var(--font-title);
			font-weight: 700;
			font-size: rem(72);
			line-height: 110%;
			letter-spacing: -0.01em;
			text-transform: uppercase;
			text-align: center;
			color: var(--body-text);

			margin-bottom: rem(20);

			@include lg {
				font-size: rem(48);
			}

			@include sm {
				font-size: rem(28);
				line-height: 120%;
				color: var(--dark);

				margin-bottom: rem(0);
			}
		}

		&_description {
			font-family: var(--font-title);
			font-weight: 700;
			font-size: rem(50);
			line-height: 120%;
			letter-spacing: -0.01em;
			text-align: center;
			color: var(--grey);

			margin-bottom: rem(30);

			@include lg {
				font-size: rem(33);
			}

			@include sm {
				font-size: rem(24);
				line-height: 110%;
				color: var(--brand-color);

				margin-bottom: rem(15);
			}
		}

		&_small {
			font-weight: 700;
			font-size: rem(20);
			line-height: 120%;
			text-align: center;
			color: var(--body-text);

			margin-bottom: rem(70);

			@include lg {
				font-size: rem(18);

				margin-bottom: rem(35);
			}

			@include sm {
				display: none;
			}
		}
	}

	&-card {
		position: relative;
		border-radius: rem(16);
		width: 100%;
		min-height: rem(400);
		background: #2e2e2e;
		overflow: hidden;

		display: flex;
		align-items: flex-end;
		justify-content: center;

		padding: rem(15);

		@include md {
			min-height: rem(320);
		}

		@include sm {
			min-height: rem(250);

			padding: rem(10);
		}

		&.card-sky,
		&.card-blue {
			margin-top: rem(150);

			@include lg {
				margin-top: 0;
			}
		}

		&_inner {
			display: flex;
			flex-direction: column;
			gap: rem(45);

			@include md {
				gap: rem(30);
			}

			@include sm {
				gap: rem(25);
			}
		}

		&_title {
			font-family: var(--font-title);
			font-weight: 700;
			font-size: rem(48);
			line-height: 110%;
			letter-spacing: -0.01em;
			text-align: center;
			color: var(--white);

			@media (max-width: 1330px) {
				font-size: rem(36);
			}
			@include xl {
				font-size: rem(36);
			}
			@include md {
				font-size: rem(28);
			}
			@include sm {
				font-size: rem(24);
			}
		}

		&_time {
			font-weight: 700;
			font-size: rem(36);
			line-height: 140%;
			letter-spacing: -0.01em;
			text-align: center;
			color: #babbbe;

			@media (max-width: 1330px) {
				font-size: rem(28);
			}

			@include xl {
				font-size: rem(36);
			}

			@include md {
				font-size: rem(24);
			}
			@include sm {
				font-weight: 500;
				font-size: rem(20);
			}
		}

		&_quantity {
			font-weight: 700;
			font-size: rem(36);
			line-height: 140%;
			letter-spacing: -0.01em;
			text-align: center;
			color: var(--white);

			@media (max-width: 1370px) {
				font-size: rem(28);
			}
			@include xl {
				font-size: rem(36);
			}

			@include md {
				font-size: rem(24);
			}
			@include sm {
				font-size: rem(20);
			}
		}

		&_group {
			display: flex;
			flex-direction: column;
			gap: rem(10);

			@include sm {
				gap: rem(10);
			}
		}

		&_price {
			p {
				font-family: var(--font-title);
				font-weight: 700;
				font-size: rem(48);
				line-height: 110%;
				letter-spacing: -0.01em;
				text-align: center;

				margin-bottom: rem(5);

				@include sm {
					font-size: rem(36);
				}
			}
			small {
				display: block;
				font-family: var(--font3);
				font-style: italic;
				font-weight: 500;
				font-size: rem(18);
				line-height: 120%;
				letter-spacing: -0.02em;
				text-align: center;

				@include sm {
					font-size: rem(14);
				}
			}
			.price-dolly {
				opacity: 0;
			}
		}

		&_logo {
			position: absolute;
			top: rem(14);
			left: rem(13);

			width: rem(56);
			height: rem(56);
			border-radius: rem(84);

			display: flex;
			align-items: center;
			justify-content: center;

			@include sm {
				top: rem(10);
				left: rem(10);

				width: rem(44);
				height: rem(44);
				svg {
					transform: translateY(-2px);
					width: rem(37) !important;
					height: rem(37) !important;
				}
			}

			svg {
				width: rem(46);
				height: rem(46);
			}
		}

		&_arrow {
			position: absolute;
			bottom: 0;
			left: 0;
			transform: translateX(-50%);
			width: rem(152);
			height: rem(152);
		}

		&.card-brand {
			border: 1px solid #fe0faa;

			.abonement-card_logo {
				background-color: var(--brand-color);
			}

			.abonement-card_arrow {
				fill: rgba(214, 99, 63, 0.1);
				stroke-width: 4.45px;
				stroke: rgba(214, 99, 63, 0.1);
			}
			.abonement-card_price p,
			.abonement-card_price small {
				color: var(--brand-color);
			}
		}
		&.card-sky {
			border: 1px solid #0191da;

			.abonement-card_logo {
				background-color: #0191da;
			}
			.abonement-card_arrow {
				fill: rgba(1, 145, 218, 0.1);
				stroke-width: 4px;
				stroke: rgba(1, 145, 218, 0.1);
			}
			.abonement-card_price p,
			.abonement-card_price small {
				color: #0191da;
			}
		}
		&.card-green {
			border: 1px solid #18a000;

			.abonement-card_logo {
				background-color: #18a000;
			}

			.abonement-card_arrow {
				fill: rgba(24, 160, 0, 0.1);
				stroke-width: 4px;
				stroke: rgba(24, 160, 0, 0.1);
			}
			.abonement-card_price p,
			.abonement-card_price small {
				color: #18a000;
			}
		}
		&.card-blue {
			border: 1px solid #6d6fff;
			.abonement-card_logo {
				background-color: #6d6fff;
			}

			.abonement-card_arrow {
				fill: rgba(109, 111, 255, 0.1);
				stroke-width: 4px;
				stroke: rgba(109, 111, 255, 0.1);
			}
			.abonement-card_price p,
			.abonement-card_price small {
				color: #6d6fff;
			}
		}
	}
}
