/* ------------------------------------------------------------------------------------------------------------------------------
Boot extra styles
--------------------------------------------------------------------------------------------------------------------------------*/
.g-20,
.gx-20 {
	--bs-gutter-x: 1.25rem;
}
.g-20,
.gy-20 {
	--bs-gutter-y: 1.25rem;
}

.g-60,
.gy-60 {
	--bs-gutter-y: 3.75rem;
}

.g-60,
.gy-60 {
	--bs-gutter-y: 3.75rem;
}