/* ------------------------------------------------------------------------------------------------------------------------------
COMPONENTS
--------------------------------------------------------------------------------------------------------------------------------*/
.btn {
	border-radius: rem(16);
	padding-inline: rem(48);
	min-height: rem(62);

	display: inline-flex;
	align-items: center;

	font-weight: 700;
	font-size: rem(24);
	line-height: 92%;
	letter-spacing: -0.41%;
	text-transform: uppercase;

	color: var(--white);
	background: var(--brand-color);
	transition: all 0.3s ease-in-out;

	&:hover {
		background: #ba5434;
	}

	@include lg{
		font-size: rem(20);
	}

	@include sm {
		font-size: rem(16);
		line-height: 138%;
		letter-spacing: -0.03em;

		min-height: rem(52);		
		padding: rem(0) rem(40);
	}

	&.btn-black {
		background: var(--dark);
		&:hover {
			background: var(--body-text);
		}

		@include lg {
			font-size: rem(20);
		}

		@include sm {
			font-size: rem(16);
			line-height: 138%;
			letter-spacing: -0.03em;
			text-align: center;

			min-height: rem(52);
		}
	}
}
