/* ------------------------------------------------------------------------------------------------------------------------------
GALLERY BLOCK
--------------------------------------------------------------------------------------------------------------------------------*/
.gallery {
	padding-top: rem(100);
	padding-bottom: rem(125);
	background-color: var(--surface-color);

	@include sm {
		padding-top: rem(35);
		padding-bottom: rem(40);
		background-color: var(--white);
	}

	&-block {
		&_title {
			font-family: var(--font-title);
			font-weight: 700;
			font-size: rem(72);
			line-height: 110%;
			letter-spacing: -0.01em;
			text-transform: uppercase;
			color: var(--body-text);

			margin-bottom: rem(30);
			@include lg {
				font-size: rem(48);
			}

			@include sm {
				font-size: rem(28);
				line-height: 120%;
				text-align: center;
				color: var(--dark);

				margin-bottom: rem(25);
			}
		}

		&_gallery {
			@include xl {
				margin-inline: auto;
				max-width: rem(650);

				border-radius: rem(5);
				overflow: hidden;
			}
			@include sm{
				border-radius: 0;
			}
		}

		&_description {
			font-family: var(--font-title);
			font-weight: 700;
			font-size: rem(50);
			line-height: 120%;
			letter-spacing: -0.01em;
			color: var(--grey);

			margin-bottom: rem(30);

			@include lg {
				font-size: rem(33);
			}

			@include sm {
				font-size: rem(24);
				line-height: 110%;
				text-align: center;
				color: var(--brand-color);

				margin-bottom: rem(20);
			}
		}

		&_text {
			@include sm {
				display: none;		
			}
			ul {
				padding-block: rem(8);
			}
			p,
			li {
				font-weight: 400;
				font-size: rem(20);
				line-height: 140%;
				letter-spacing: -0.01em;
				color: var(--body-text);
				@include lg {
					font-size: rem(18);
				}
			}
			li:nth-child(2),
			li:nth-child(4) {
				font-weight: 700;
				color: var(--grey);
			}
			li:nth-child(1),
			li:nth-child(3) {
				font-weight: 700;
				color: var(--dark);
			}
			li {
				margin-left: rem(30);
				margin-bottom: rem(4);
				list-style: initial;
			}

			margin-bottom: rem(40);
		}

		&_text-sm {
			display: none;

			font-weight: 400;
			font-size: rem(16);
			line-height: 140%;
			letter-spacing: -0.01em;
			text-align: center;
			color: var(--body-text);

			margin-bottom: rem(20);

			@include sm {
				display: block;
			}
		}
	}

	&_views {
		aspect-ratio: 20/12;
		overflow: hidden;
	}
	&_view {
		display: none;
		position: relative;
		aspect-ratio: 20/12;
		img {
			position: absolute;
		}

		&.active {
			display: block;
			animation: fade-up 0.15s ease-in-out;
		}
	}

	&_thumbnails {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: rem(20);

		margin-top: rem(20);

		@include sm {
			gap: rem(12);
			margin-top: rem(8);
		}
	}

	&_thumbnail {
		position: relative;
		aspect-ratio: 20/12;
		overflow: hidden;
		width: 100%;

		cursor: pointer;

		&:after {
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: transparent;
			transition: all 0.3s ease-in-out;
		}

		&.active {
			&:after {
				background: rgba(214, 99, 63, 0.8);
			}
		}

		img {
			position: absolute;
			aspect-ratio: 20/12;
			overflow: hidden;
		}
	}
}
