/* ------------------------------------------------------------------------------------------------------------------------------
HEADER
--------------------------------------------------------------------------------------------------------------------------------*/
.header {
	max-height: rem(110);

	background: #1d1d20;
	position: absolute;

	top: rem(25);
	width: 100%;
	z-index: 1;

	@media (max-width: 1100px) {
		top: 0;
		max-height: rem(70);
	}

	&_row {
		display: flex;
		align-items: center;
		justify-content: space-between;

		max-height: rem(110);

		width: 95%;
		@media (max-width: 1100px) {
			width: 100%;
		}
	}

	&_logo {
		width: rem(110);
		height: rem(110);

		img,
		svg {
			width: rem(110);
			height: rem(110);
		}
		@media (max-width: 1100px) {
			width: rem(50);
			height: rem(50);
			img,
			svg {
				width: rem(50);
				height: rem(50);
			}
		}
	}

	&_burger {
		display: none;
		width: rem(70);
		height: rem(70);
		align-items: center;
		justify-content: center;

		transform: translateX(15px);
		background-color: var(--brand-color);

		@media (max-width: 1100px) {
			display: flex;
		}
	}

	&_nav {
		@media (max-width: 1100px) {
			display: none;
		}
		ul.header_menu {
			display: inline-flex;
			align-items: center;
			gap: rem(45);

			@include xl {
				gap: rem(35);
			}

			& > li {
				position: relative;
				& > span,
				& > a {
					font-weight: 500;
					font-size: rem(20);
					color: var(--white);

					transition: all 0.3s ease-in-out 0.3s;

					@include xl {
						font-size: rem(16);
					}
				}

				& > span,
				& > span.parent {
					position: relative;
					padding-right: rem(25);
					cursor: pointer;

					&:after {
						content: "";
						position: absolute;
						top: 50%;
						right: 0;
						width: 0;
						height: 0;
						pointer-events: none;
						border-left: rem(6) solid transparent;
						border-right: rem(6) solid transparent;
						border-top: rem(8) solid var(--white); /* Цвет стрелки */
						transform: translateY(-30%);

						transition: all 0.3s ease-in-out 0.3s;
					}
				}

				&:hover {
					& > span,
					& > a {
						color: var(--brand-color);
					}
					& > span:after,
					& > span.parent:after {
						border-top: rem(8) solid var(--brand-color); /* Цвет стрелки */
					}
					ul.header_submenu {
						visibility: visible;
						opacity: 1;
					}
				}
			}
		}
		ul.header_submenu {
			visibility: hidden;
			opacity: 0;

			position: absolute;
			top: rem(40);
			left: rem(20);

			padding-bottom: rem(15);

			display: flex;
			flex-direction: column;
			border-radius: rem(4);
			min-width: rem(300);

			box-shadow: 8px 8px 24px 0 rgba(0, 0, 0, 0.5);
			background: var(--dark);

			transition: all 0.3s ease-in-out 0.2s;

			li {
				position: relative;
				font-family: var(--font-title);
				font-weight: 400;
				font-size: rem(20);
				line-height: 100%;
				text-transform: uppercase;
				text-align: center;

				padding: rem(15) rem(15);

				&:after {
					position: absolute;
					border-bottom: 1px solid #353535;
					content: "";
					bottom: 0;
					left: 50%;
					width: 75%;
					transform: translateX(-50%);
				}

				a {
					display: block;
					color: var(--white);
					transition: all 0.3s ease-in-out;
					&:hover {
						color: var(--brand-color);
					}
				}
			}
			li:last-child {
				&:after {
					border-bottom: 1px solid var(--brand-color);
					width: 100%;
					transform: translateX(-50%);
				}
			}
		}
	}

	&_phone {
		@media (max-width: 1100px) {
			display: none;
		}
		svg {
			width: rem(24);
			height: rem(24);
		}
	}

	.btn {
		gap: rem(10);

		font-weight: 700;
		font-size: rem(20);
		line-height: 110%;
		letter-spacing: -0.02em;
		text-transform: uppercase;
		text-align: center;
		color: var(--white);
	}
}
