/* ------------------------------------------------------------------------------------------------------------------------------
MAP
--------------------------------------------------------------------------------------------------------------------------------*/

.map {
	&-block {
		height: rem(460);
		box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.01), 0 7px 6px 0 rgba(0, 0, 0, 0.01), 0 14px 11px 0 rgba(0, 0, 0, 0.01),
			0 25px 20px 0 rgba(0, 0, 0, 0.02), 0 46px 37px 0 rgba(0, 0, 0, 0.02), 0 111px 89px 0 rgba(0, 0, 0, 0.03);
		iframe {
			width: 100%;
			height: rem(460);
		}
	}

	@include sm {
		.container {
			padding-left: 0;
			padding-right: 0;
		}
		iframe {
			width: 100%;
			height: rem(377);
		}
		&-block {
			height: rem(377);
			box-shadow: none;
		}
	}
}
