/* ------------------------------------------------------------------------------------------------------------------------------
SHEDULES LIST DESKTOP
--------------------------------------------------------------------------------------------------------------------------------*/
.shedules-list {
	margin-bottom: rem(100);
	border-bottom: 1px solid var(--brand-color);

	@include md {
		background-color: var(--surface-color);
		border-bottom: none;
	}

	@include sm {
		margin-bottom: rem(40);
		
	}

	.keen-slider__slide {
		height: inherit;
	}

	&_block {
		padding-top: rem(100);
		padding-bottom: rem(100);
		@include lg {
			padding-top: rem(60);
			padding-bottom: rem(50);
		}

		@include md {
			padding-top: rem(40);			
		}
		@include sm{
			padding-bottom: rem(40);
		}
	}

	&_item {
		margin-bottom: rem(40);
		height: 100%;

		@include md {
			padding: rem(18) rem(22);
			margin-bottom: 0;
			background: var(--white);
		}

		@include sm {
			padding: rem(12) rem(15);
		}

		.item-title {
			position: relative;
			height: initial;

			min-height: rem(60);
			padding-left: rem(12);

			margin-bottom: rem(10);
			@include xl {
				font-size: rem(29);
				min-height: rem(40);
			}

			@include sm {
				min-height: initial;
				font-weight: 700;
				font-size: rem(24);
				line-height: 110%;
				letter-spacing: -0.01em;
				color: var(--body-text);
			}

			&:after {
				position: absolute;
				content: "";
				left: 0;
				top: 0;
				height: 100%;
				width: 4px;
				z-index: 1;
			}
			&-tabata:after {
				background-color: var(--brand-color);
			}
			&-pilates:after {
				background-color: var(--pilates);
			}
			&-funct:after {
				background-color: var(--functional-training);
			}
			&-hot:after {
				background-color: var(--hot-body);
			}
			&-cardio:after {
				background-color: var(--cardio-attack);
			}
			&-pp:after {
				background-color: var(--pandp);
			}
			&-step:after {
				background-color: var(--step-pro);
			}
			&-streching:after {
				background-color: var(--streching);
			}
			&-monster:after {
				background-color: var(--monstr);
			}
			&-power:after {
				background-color: var(--power);
			}
			&-health:after {
				background-color: var(--health-back);
			}
			&-yoga:after {
				background-color: var(--fitness-yoga);
			}
		}

		.item-content {
			position: relative;
			display: block;
			padding-left: rem(30);

			font-weight: 400;
			font-size: rem(20);
			line-height: 140%;
			letter-spacing: -0.01em;
			color: var(--dark);
			@include xl {
				font-size: rem(18);
			}

			@include lg {
				font-size: rem(16);
				padding-left: 0;

				&:after{
					content: none !important;
				}
			}

			@include sm {
				font-weight: 400;
				font-size: rem(16);
				line-height: 140%;
				letter-spacing: -0.01em;
				color: var(--grey);
			}

			&:after {
				position: absolute;
				top: rem(14);
				left: rem(12);
				content: "";
				width: rem(5);
				height: rem(5);
				border-radius: 50%;
				background-color: var(--dark);
			}
		}
	}
}
