/* ------------------------------------------------------------------------------------------------------------------------------
BASE
--------------------------------------------------------------------------------------------------------------------------------*/
html {
	scroll-behavior: smooth;
	opacity: 0.9;
	transition: opacity 0.3s ease-in-out;
	&.loaded {
		opacity: 1;
	}
}

body {
	text-wrap: balance;
}

* {
	&::-webkit-scrollbar {
		inline-size: rem(10);
		background-color: var(--scrollbar);
	}

	&::-webkit-scrollbar-track {
		border-radius: rem(10);
		box-shadow: inset 0 0 rem(6) rgba(#000, 20%);
		background: var(--scrollbar-track);
	}

	&::-webkit-scrollbar-thumb {
		border-radius: rem(10);
		border: 0 none #fff;
		background-color: var(--scrollbar-thumb);
		cursor: pointer;

		@include any-hover {
			background-color: grey;
		}
	}
}
.container {
	margin-inline: auto;
	max-inline-size: var(--container-width);
	padding-inline: var(--container-padding);
}
.container-full {
	padding: 0 var(--container-padding);
	max-width: 100%;
}
.img-responsive {
	display: block;
	width: 100%;
	height: auto;
	object-fit: cover;
	overflow: hidden;
}

.image-bg {
	position: relative;

	img {
		display: block;
		position: absolute;
		inset-block-start: 0;
		inset-inline-start: 0;
		object-fit: cover;
		block-size: 100%;
		inline-size: 100%;
	}
}

.visually-hidden {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap !important;
	border: 0 !important;
}
.no-scroll {
	overflow: hidden;
}
.site-overlay {
	opacity: 0;
	visibility: hidden;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(0, 0, 0, 0.25);

	z-index: 100;
	transition: all 0.3s ease-in-out;

	&.active {
		opacity: 1;
		visibility: visible;
	}
}

.wrapper {
	display: flex;
	min-block-size: 100%;

	/** Поменять на clip - если используется в проекте position: sticky */
	overflow: hidden;
	flex-direction: column;
}

.main {
	position: relative;
	flex: 1 1 auto;
}
