/* ------------------------------------------------------------------------------------------------------------------------------
ROOT
--------------------------------------------------------------------------------------------------------------------------------*/
:root {
	--container-width: 1330px;
	--container-padding: 15px;

	--bs-gutter-x: var(--container-padding); // For bootstrap if it is connected

	--font-title: "Play", sans-serif;
	--font-main: "Manrope", sans-serif;
	
	--third-family: "Inter", sans-serif;
	--font3: "SF Pro", sans-serif;
	--font4: "Montserrat", sans-serif;
	--font5: "Darker Grotesque", sans-serif;

	--black: #0c0c0d;
	--dark: #1c1c1e;
	--body-text: #111827;
	--white: #fff;
	--white-200: rgba(255, 255, 255, 0.2);
	--surface-color: #f6faff;
	--grey: #6b7280;
	--brand-color: #d6633f;
	--tabata: #d6633f;
	--pilates: #04d5c0;
	--streching: #383bf5;
	--power: #ff0d76;
	--functional-training: #8a38f5;
	--hot-body: #e80303;
	--cardio-attack: #ff50e2;
	--health-back: #009179;
	--step-pro: #11a0ff;
	--pandp: #d597ff;
	--fitness-yoga: #03a900;
	--monstr: #a1d;

	--scrollbar: gray;
	--scrollbar-track: gray;
	--scrollbar-thumb: var(--brand-color);
}
